<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lfs.mall.dao.OrderMapper">
    <resultMap id="order" type="com.lfs.mall.domain.Order">
        <result property="id" column="Fid"/>
        <result property="userId" column="Fuser_id"/>
        <result property="receiveAddrId" column="Freceive_addr_id"/>
        <result property="weightSum" column="Fweight_sum"/>
        <result property="priceSum" column="Fprice_sum"/>
        <result property="status" column="Fstatus"/>
        <result property="created" column="Fcreated"/>
        <result property="updated" column="Fupdated"/>
        <result property="installment" column="Finstallment"/>
    </resultMap>
    <resultMap id="orderGVO" type="com.lfs.mall.domain.vo.OrderGVO">
        <result property="id" column="Fid"/>
        <result property="userId" column="Fuser_id"/>
        <result property="weightSum" column="Fweight_sum"/>
        <result property="priceSum" column="Fprice_sum"/>
        <result property="status" column="Fstatus"/>
        <result property="created" column="Fcreated"/>
    </resultMap>

    <sql id="common_where">
        where 1=1
        <if test="id != null">and Fid=#{id}</if>
        <if test="userId != null">and Fuser_id=#{userId}</if>
        <if test="receiveAddrId != null">and Freceive_addr_id=#{receiveAddrId}</if>
        <if test="weightSum != null">and Fweight_sum=#{weightSum}</if>
        <if test="priceSum != null">and Fprice_sum=#{priceSum}</if>
    </sql>


    <insert id="addOrder" parameterType="com.lfs.mall.domain.Order">
        INSERT INTO mall_db.t_order (
            Fid,
            Fuser_id,
            Freceive_addr_id,
            Fweight_sum,
            Fprice_sum,
            Fstatus,
            Fcreated,
            Fupdated
        ) VALUES (
            #{id},
            #{userId},
            #{receiveAddrId},
            #{weightSum},
            #{priceSum},
            #{status},
            now(),
            now()
        )
    </insert>

    <update id="updateOrder" parameterType="com.lfs.mall.domain.Order">
        update mall_db.t_order
        <set>
            <if test="id != null">Fid=#{id},</if>
            <if test="userId != null">Fuser_id=#{userId},</if>
            <if test="receiveAddrId != null">Freceive_addr_id=#{receiveAddrId},</if>
            <if test="weightSum != null">Fweight_sum=#{weightSum},</if>
            <if test="priceSum != null">Fprice_sum=#{priceSum},</if>
            <if test="status != null">Fstatus=#{status},</if>
            Fupdated=now()
        </set>
        <include refid="common_where"/>

    </update>
    <update id="updateOrderStatus" parameterType="com.lfs.mall.domain.Order">
        update mall_db.t_order
        <set>
            Fstatus=#{status},
            Fupdated=now()
        </set>
        where Fid=#{id}

    </update>


    <select id="getOrder" resultMap="order" parameterType="com.lfs.mall.domain.Order">
        select *
        from mall_db.t_order
        <include refid="common_where"/>
    </select>
    <select id="getMaxId" resultType="int">
        SELECT max(Fid)
        FROM mall_db.t_order
    </select>

    <select id="getOrderByUserId" resultMap="order" parameterType="java.lang.Integer">
        SELECT *
        FROM mall_db.t_order
        WHERE Fuser_id = #{userId}
    </select>
    <select id="getOrderByUserIdGVO" resultMap="orderGVO" parameterType="com.lfs.mall.domain.Order">
        select *
        from mall_db.t_order
        where Fuser_id = #{userId}
        <if test="status != null">and Fstatus=#{status}</if>
    </select>
    <select id="getOrderByStatus" resultMap="orderGVO" parameterType="java.lang.Integer">
        SELECT *
        FROM mall_db.t_order
        WHERE Fstatus = #{status}


    </select>
</mapper>