<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lfs.mall.dao.UserMapper">
    <resultMap id="user" type="com.lfs.mall.domain.User">
        <result property="id" column="Fid"/>
        <result property="username" column="Fusername"/>
        <result property="password" column="Fpassword"/>
        <result property="headImg" column="Fhead_img"/>
        <result property="sex" column="Fsex"/>
        <result property="email" column="Femail"/>
        <result property="phone" column="Fphone"/>
        <result property="status" column="Fstatus"/>
        <result property="created" column="Fcreated"/>
        <result property="updated" column="Fupdated"/>
    </resultMap>
    <resultMap id="userVO" type="com.lfs.mall.domain.vo.UserVO">
        <result property="id" column="Fid"/>
        <result property="username" column="Fusername"/>
        <result property="headImg" column="Fhead_img"/>
        <result property="sex" column="Fsex"/>
        <result property="email" column="Femail"/>
        <result property="phone" column="Fphone"/>
    </resultMap>

    <sql id="common_where">
        where 1=1
        <if test="id != null">and Fid=#{id}</if>
        <if test="username != null">and Fusername=#{username}</if>
        <if test="password != null">and Fpassword=#{password}</if>
        <if test="headImg != null">and Fhead_img=#{headImg}</if>
        <if test="sex != null">and Fsex = #{sex}</if>
        <if test="email != null">and Femail=#{email}</if>
        <if test="phone != null">and Fphone=#{phone}</if>
        <if test="status != null">and Fstatus=#{status}</if>
    </sql>

    <select id="getUser" resultMap="user" parameterType="com.lfs.mall.domain.User">
        select *
        from mall_db.t_user
        <include refid="common_where"/>
    </select>
    <select id="getRecmd" resultType="com.lfs.mall.domain.Commodity" parameterType="com.lfs.mall.domain.RecmdReqVO">

        select *
        from mall_db.t_commodity
        where Fid in (
            select distinct t6.Fcommodity_id
            from mall_db.t_order t5
                     join mall_db.t_order_item t6 on t5.Fid = t6.Forder_id
            where t6.Fcommodity_id != #{commodityId}
              and t5.Fuser_id in (select distinct t1.Fid as userId
                                  from mall_db.t_user t1
                                           join mall_db.t_order t2 on t1.Fid = t2.Fuser_id
                                           join mall_db.t_order_item t3 on t2.Fid = t3.Forder_id
                                  where t1.Fid != #{userId}
                                    and t3.Fcommodity_id = #{commodityId}))
    </select>
    <select id="getAllUser" resultMap="user">
        select *
        from mall_db.t_user
        order by Fid
    </select>
    <select id="getUserById" resultMap="user" parameterType="java.lang.Integer">
        select *
        from mall_db.t_user
        where Fid = #{id}
    </select>
    <select id="getUserByIdVO" resultMap="userVO" parameterType="java.lang.Integer">
        select *
        from mall_db.t_user
        where Fid = #{id}
    </select>

    <insert id="addUser" parameterType="com.lfs.mall.domain.User">
        INSERT INTO mall_db.t_user (Fusername,
                                    Fpassword,
                                    Fsex,
                                    Femail,
                                    Fphone,
                                    Fstatus,
                                    Fcreated,
                                    Fupdated)
        VALUES (#{username},
                #{password},
                #{sex},
                #{email},
                #{phone},
                0,
                now(),
                now())
    </insert>

    <update id="updateUser" parameterType="com.lfs.mall.domain.User">
        update mall_db.t_user
        <set>
            <if test="username != null">Fusername=#{username},</if>
            <if test="password != null">Fpassword=#{password},</if>
            <if test="sex != null">Fsex=#{sex},</if>
            <if test="email != null">Femail=#{email},</if>
            <if test="phone != null">Fphone=#{phone},</if>
            <if test="created != null">Fcreated=#{created},</if>
            Fupdated=now()
        </set>
        where Fid=#{id}
    </update>


</mapper>